name: Linux

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  linux-test-build-release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift: ["latest"]
    container:
      image: swift:${{ matrix.swift }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.2

      - name: APT cache
        uses: actions/cache@v3.3.1
        with:
          path: /var/cache/apt
          key: ${{ runner.os }}-apt

      - name: Restore cached SPM dependencies
        uses: actions/cache@v3.3.1
        with:
          path: .build
          key: swiftpm-${{ runner.os }}-${{ inputs.swift-version }}-${{ hashFiles('Package.swift') }}
          restore-keys: |
            swiftpm-${{ runner.os }}-${{ inputs.swift-version }}-
            swiftpm-${{ runner.os }}-

      - name: Install dependencies
        run: |
          apt update
          apt install -y libsdl2-dev

      - name: Test
        run: swift test

      - name: Build Release
        run: swift build -c release
